.cards {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  font-size: 20px;
  padding: 20px 0 40px;
  width: 100%;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

@media screen and (max-width: 1320px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 846px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 880px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    max-width: 413px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 630px) and (min-width: 320px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    max-width: 288px;
    margin: 0 auto;
  }
}
