.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  font-size: 20px;
  padding: 20px 0 40px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__image-container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like {
  cursor: pointer;
  opacity: 40%;
}

.card__like:hover {
  opacity: 100%;
}

@media screen and (max-width: 1320px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 846px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 880px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    max-width: 413px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 630px) and (min-width: 330px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    max-width: 288px;
    margin: 0 auto;
  }
}
