.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 413px;
}

.card__image {
  border-radius: 8px;
  width: 100%;
  max-height: 413px;
}

.card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__caption {
  max-width: 353px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  font-style: medium;
}

.card__like {
  cursor: pointer;
  opacity: 40%;
  background: none;
  border: none;
}

.card__like:hover {
  opacity: 100%;
}

@media screen and (max-width: 630px) and (min-width: 320px) {
  .card__caption {
    max-width: 235px;
  }

  .card__image {
    max-height: 288px;
  }
}
