.content {
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.content__hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  .content {
    padding: 0 16px;
  }
}
