.footer {
  text-align: center;
  font-size: 16px;
  opacity: 70%;
  color: #212121;
  padding: 60px;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  font-style: normal;
}
