.modal {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
}

.modal__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 408px;
  padding: 32px 50px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  max-width: 630px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px;
}

.modal__exit {
  opacity: 40%;
  cursor: pointer;
}

.modal__exit:hover {
  opacity: 100%;
}

.modal__title {
  font-size: 32px;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__input-line {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.modal__input-label {
  color: #212121;
  opacity: 70%;
  font-size: 16px;
}

.modal__input {
  font-size: 20px;
  border-radius: 8px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__submit {
  max-width: 156px;
  padding: 18px 58px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
}

.modal_is-opened {
  visibility: visible;
}

@media screen and (max-width: 630px) and (min-width: 320px) {
  .modal__container {
    max-width: 276px;
    padding: 12px;
  }

  .modal__row {
    margin: 0 0 24px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit {
    max-width: 100%;
  }
}
