.profile {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 16px;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile__image {
  border-radius: 16px;
  max-width: 190px;
  max-height: 190px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
  max-width: 420px;
}

.profile__text-name {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
}

.profile__text-description {
  margin: 0;
  opacity: 0.7;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
}

.profile__edit {
  align-self: flex-start;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #212121;
  background: none;
  border: none;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.8;
}

.profile__new-post {
  align-self: flex-end;
  display: flex;
  gap: 8px;
  padding: 20px 24px;
  border-radius: 8px;
  font-size: 16px;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  cursor: pointer;
}

.profile__new-post:hover {
  opacity: 0.8;
}

@media screen and (max-width: 630px) and (min-width: 320px) {
  .profile {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 288px;
    padding-bottom: 0px;
  }

  .profile__avatar {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .profile__text {
    gap: 6px;
    align-items: center;
  }

  .profile__text-name {
    text-align: center;
    font-size: 20px;
  }

  .profile__text-description {
    margin: 0 auto 32px;
    text-align: center;
  }

  .profile__edit {
    align-self: center;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .profile__image {
    max-width: 80px;
    max-height: 80px;
  }

  .profile__new-post {
    align-self: stretch;
    justify-content: center;
  }
}
