.profile {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.profile__avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile__image {
  border-radius: 16px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
  max-width: 420px;
}

.profile__text-name {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
}

.profile__text-subtitle {
  margin: 0;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
}

.profile__edit {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #212121;
}

.profile__edit:hover {
  opacity: 80%;
}

.profile__new-post {
  align-self: flex-end;
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  padding: 20px 24px;
  border-radius: 8px;
  font-size: 16px;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
}

.profile__new-post:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) and (min-width: 330px) {
  .profile {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 288px;
    padding-bottom: 0px;
  }

  .profile__avatar {
    flex-direction: column;
    gap: 12px;
  }

  .profile__text {
    gap: 6px;
    align-items: center;
  }

  .profile__text-subtitle {
    margin-bottom: 32px;
  }

  .profile__edit {
    max-height: 16px;
    margin-bottom: 20px;
  }

  .profile__image {
    max-width: 90px;
    max-height: 90px;
  }

  .profile__new-post {
    align-self: stretch;
    justify-content: center;
  }
}
